html {
    background: url(../../images/background.jpg) repeat center center fixed;
    -webkit-background-size: repeat;
    -moz-background-size: repeat;
    -o-background-size: repeat;
    background-size: repeat;
  }