body {
    display: flex;
    justify-content: center;
}

.container {
    /* width: 80vw; */
}

#sweets {
    display: flex;
    flex-wrap: wrap;
}

.wizard-form{
    display: block;
}

.category-item{
    display: block;
}

.sweet-item {
    flex-direction: column;
}

.active-sweet {
    border: 1px solid green;
}


.container .screen {
    display: none;
  }

.screen.active {
    display: block;
  }