//colors 
$dark-grey: #2a3539;
$white: #fff;
$light-grey: #f0f6f6;
$green: #72a545;
$light-green: #a5e16f;

$primary-color: $dark-grey;
$secondary-color: $green;

// typography
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Libre Baskerville', serif;

// bulma font override
$body-family: $main-font;