.categories {
    position: sticky;
    top: 0px;
    margin-top: 100px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    -moz-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);

    .category {
        background-color: $light-grey;
        border: 1px solid #d2d4d5;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $white;
        }
    }

    .car-icon {
        padding-top: 10px;
    }

    .filter-title {
        background: $primary-color;
        color: $white;
        font-size: 24px;
    }
}

#vehicleItems {
    padding-top: 50px;
}

.vehicle-item {
    position: relative;
    background-color: $light-grey;
    border: 1px solid #d2d4d5;
    padding: 0;
    height: 380px;

    &:hover {
        background-color: $white;
    }

    li {
        display: inline-block;
        padding: 0px 25px;
    }

    h1 {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 18px;
        padding: 25px;
    }

    p {
        color: $secondary-color;
    }

    .vehicle-image {
        width: 62%;
        margin: 0 auto;
        padding-bottom: 20px
    }

    .vehicle-item-button {
        padding: 10px 30px;
    }

    .btn-green {
        padding: 5px 30px;
        width: 100%;
        cursor: pointer;
    }

    .more-info {
        width: 50px;
        position: absolute;
        right: 35px;
        z-index: 1;
        bottom: 30px;
        text-align: center;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s linear;

        &.active {
            transform: translateY(-125px);
            }
    }

    .info-panel {
        position: absolute;
        bottom: 0;
        height: 75px;
        background-color: $primary-color;
        color: $white;
        font-size: 12px;
        padding: 20px;
        text-align: center;
        width: 100%;
        transition: all 0.3s linear;
        cursor: pointer;

        &.active {
            height: 200px;
        }
    }

    .info-text {
        color: $green;
        font-size: 10px;
    }

    .selectCarBtn {
        position: relative;
        z-index: 11;
        transition: all 0.3s linear;

        &.active {
            transform: translateY(95px);
            }
    }
    .info-list {
        position: relative;
        z-index: 5;
    }
    .more-info-list {
        display: none;
        padding: 30px 0;
        &.active {
            display: block;
        }
    }
}

.gradient-icon {
    font-size: 16px;
    background: -webkit-linear-gradient($light-green, $green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

.more-info-btn {
    width: 25px;
    position: absolute;
    z-index: 5;
    bottom: 85px;
    right: 48px;
    transition: all 0.3s linear;
    &.active {
        transform: translateY(-125px) rotate(180deg);
    }    
}

.delay-1 {
    animation-delay: .25s
}
.delay-2 {
    animation-delay: .50s
}
.delay-3 {
    animation-delay: .75s
}
.delay-4 {
    animation-delay: 1s
}
.delay-5 {
    animation-delay: 1.25s
}
.delay-6 {
    animation-delay: 1.5s
}
.delay-7 {
    animation-delay: 1.75s
}
.delay-8 {
    animation-delay: 2s
}
.delay-9 {
    animation-delay: 2.25s
}
.delay-10 {
    animation-delay: 2.5s
}
.delay-11 {
    animation-delay: 2.75s
}
.delay-12 {
    animation-delay: 3s
}
