.form-screen-form {
    z-index: 10;
    background-color: $primary-color;
    width: 550px;
    height: 650px;
    position: absolute;
    top: 25%;
    left: 45%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 46px 0px rgba(34, 34, 34, 0.5);
    -moz-box-shadow: 0px 0px 46px 0px rgba(34, 34, 34, 0.5);
    box-shadow: 0px 0px 46px 0px rgba(34, 34, 34, 0.5);

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }


    form {
        font-size: 14px;
        width: 65%;
        color: $white;
    }

    label {
        color: #d2d4d5;
    }

    .form-input {
        background: none;
        border: none;
        margin-bottom: 20px;
        width: 100%;
        color: $white;
        transition: all 0.4s;

        &.required {
            border-bottom: 1px red dotted;
        }
    }

    .box {
        background: none;
        border: none;
        box-shadow: none;
    }

    @include mq('tablet-wide') {
        position: static;
        margin: 0 auto;
        padding: 40px;
        -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    }

    @include mq('tablet-small') {
        width: 90vw;
    }

}

//bulma calendar override
.datepicker .calendar .calendar-nav {
    background: linear-gradient($light-green, $green);
}

.datepicker .calendar .calendar-body .calendar-dates .calendar-days .calendar-date .date-item.is-today {
    border: .1rem dotted $green;
    color: $green;
}

.datepicker .calendar .calendar-body .calendar-dates .calendar-days .calendar-date .date-item:hover {
    border: .1rem solid $green;
    color: $green;
}

.datepicker .calendar .calendar-footer {
    background: $dark-grey;
}

.datepicker .calendar .calendar-header {
    display: none;
}

.datepicker .calendar .calendar-body .calendar-months .calendar-month.is-active,
.datepicker .calendar .calendar-body .calendar-months .calendar-year.is-active,
.datepicker .calendar .calendar-body .calendar-years .calendar-month.is-active,
.datepicker .calendar .calendar-body .calendar-years .calendar-year.is-active {
    background: $green;
    border-color: $green;
}

.datepicker .calendar .calendar-body .calendar-months .calendar-month:hover,
.datepicker .calendar .calendar-body .calendar-months .calendar-year:hover,
.datepicker .calendar .calendar-body .calendar-years .calendar-month:hover,
.datepicker .calendar .calendar-body .calendar-years .calendar-year:hover {
    border-color: $green;
    color: $dark-grey;
}

.datepicker .calendar .calendar-body .calendar-months .calendar-month,
.datepicker .calendar .calendar-body .calendar-months .calendar-year,
.datepicker .calendar .calendar-body .calendar-years .calendar-month,
.datepicker .calendar .calendar-body .calendar-years .calendar-year {
    border: .1rem solid transparent;
    color: $dark-grey;
}

.button.is-text {
    color: $white;

    &:hover {
        color: $dark-grey;
    }
}

.has-text-warning {
    color: $green !important;
}

.form-screen-message {
    background-color: $white;
    z-index: 9;
    width: 550px;
    height: 450px;
    position: absolute;
    top: 35%;
    left: 20%;
    padding: 0px 150px 0px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(34, 34, 34, 0.35);
    -moz-box-shadow: inset 0px 0px 4px 0px rgba(34, 34, 34, 0.35);
    box-shadow: inset 0px 0px 4px 0px rgba(34, 34, 34, 0.35);

    h1 {
        font-family: $secondary-font;
        font-size: 36px;
        font-weight: bold;
        color: $secondary-color;
        text-align: right;
        line-height: 46px;
        padding-bottom: 5px;
    }

    p {
        text-align: left;
        font-size: 16px;
        padding-top: 40px;
    }

    @include mq('1700') {
        left: 15%;
    }

    @include mq('1500') {
        left: 10%;
    }

    @include mq('desktop') {
        left: 5%;
    }

    @include mq('tablet-wide') {
        position: static;
        margin: 0 auto;
        text-align: center;
        padding: 40px;

        h1 {
            text-align: center !important;
        }

        p {
            text-align: center !important;
        }
    }

    @include mq('tablet-small') {
        width: 90vw;
    }

}