.route-display {
    position: absolute;
    z-index: 9;
    left: -500px;
    top: 300px;
    background-color: $white;
    width: 400px;
    height: 600px;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    -moz-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);

    @include mq('tablet') {
        width: 100vw;
        height: 80vh;
        top: 10%;
        left: -100vw;
    }

    &.active {
        left: 100px;
        @include mq('tablet') {
            left: 0px;
        }
    }

    h1 {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 11px;
        font-weight: bold;
        color: $dark-grey;
    }

    .header {
        background: linear-gradient($light-green, $green);
        color: $white;
        margin: 0;
        text-align: center;
        margin-bottom: 30px;
    }

    .header-item {
        border-right: 1px solid $white;
    }

    .totals-text {
        font-size: 13px;
        font-weight: bold;
    }

    .route-item {
        background: $light-grey;
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
        border-radius: 15px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
        -moz-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
        box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    }

    .location-text {
        padding-top: 5px;
        font-size: 14px;
    }

    .add-detour-btn {
        margin: 10px;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: linear-gradient($light-green, $green);
        color: $white;
        text-align: center;
        outline: none;
        cursor: pointer;
    }

    .add-detour {
        text-align: right;
        margin-top: 10px;
        padding-right: 23px;
        font-size: 12px;
        color: $green;
        cursor: pointer;
        padding-bottom: 0;

        .column {
            padding: 0;
        }
    }

    .flag {
        font-size: 28px;
        transform: rotate(-15deg);
    }

    .ro-date {
        font-size: 12px;
        color: $green;
        text-align: right;
    }

    .ro-date-container {
        padding: 0;
    }

    .remove-route {
        text-align: right;
        color: rgba(34, 34, 34, 0.46);
        padding-bottom: 10px;
    }

    #addDetourInput {
        display: none;

        &.active {
            text-align: left;
            padding: 25px 0 0 40px;
            width: 100%;
            display: block;
        }
    }
}

.car-info {
    position: absolute;
    z-index: 9;
    left: -500px;
    top: 300px;
    background-color: $white;
    width: 400px;
    // height: 800px;
    transition: all 0.3s linear;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    -moz-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);

    @include mq('tablet') {
        width: 100vw;
        height: 80vh;
        top: 10%;
        left: -100vw;
    }


    &.active {
        left: 100px;
        @include mq('tablet') {
            left: 0px;
        }
    }
}

.ci-car-info {
    height: 100%;
    position: relative;
    background-color: $white;
    border: 1px solid #d2d4d5;
    padding: 0;


    li {
        display: inline-block;
        padding: 10px 25px;
    }

    h1 {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 18px;
        padding: 25px;
    }

    p {
        color: $secondary-color;
    }

    .car-description {
        color: $dark-grey;
        padding: 20px;
    }

    .vehicle-image {
        width: 62%;
        margin: 0 auto;
        padding-bottom: 20px
    }

    .btn-transparent {
        margin-bottom: 260px;
    }

    .info-panel {
        position: absolute;
        bottom: 0;
        background-color: $primary-color;
        color: $white;
        font-size: 12px;
        padding: 20px;
        text-align: center;
        width: 100%;
    }

    .info-text {
        color: $green;
        font-size: 10px;
    }

    .info-list {
        position: relative;
        z-index: 5;
    }

    .box {
        background: none;
        border: none;
        box-shadow: none;
    }
}


.option-panel {
    position: absolute;
    z-index: 10;
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: 110vh;
    background-color: $dark-grey;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    -moz-box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.46);
    @include mq('tablet') {
        height: 100px;
        width: 100vw;
    }
    ul {
        padding-top: 300px;
        color: white;
        font-size: 12px;
        text-align: center;
        @include mq('tablet') {
                padding-top: 0px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
            }
    }

    p {
        padding-top: 5px;
    }

    li {
        padding: 10px 0;
        border-top: 1px solid #586265;
        cursor: pointer;

        &:hover {
            color: $green;
        }

        &.active {
            color: $green;
        }
        @include mq('tablet') {
            padding: 10px 40px;
            border: none;
            margin: 0 auto;
        }
    }

    .last-icon {
        border-bottom: 1px solid #586265;
        @include mq('tablet') {
            border: none;
        }
    }

    .option-panel-icon {
        font-size: 42px;
    }
}